<!DOCTYPE html>
<html lang="en">
<head class="product-page">
    <!-- Basic page needs -->
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <meta name="description" content="">

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,700,400italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Dosis:400,300,200,500,600,700,800' rel='stylesheet'
          type='text/css'>


    <title>{{template "title" .}}</title>
<!--    {{CSS "assets/plugins/sweet-alert2/sweetalert2.min.css"}}-->


    {{CSS "assets/front/css"}}
    {{CSS "assets/front/bootstrap-rtl.min.css"}}
    {{CSS "assets/front/menu.css"}}
    {{CSS "assets/front/style.css"}}
    {{CSS "assets/front/vendors.css"}}
    {{CSS "assets/front/extra_rtl_styles.css"}}
    {{CSS "assets/front/custom.css"}}
    {{CSS "assets/fonts/css/fontiran.css"}}
{{/*    {{CSS "assets/fonts/css/style.css"}}*/}}
    <!-- Vendor CSS Files -->
    {{JS "assets/front/modernizr.js"}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.css" integrity="sha512-fSWkjL6trYj6KvdwIga30e8V4h9dgeLxTF2q2waiwwafEXD+GXo5LmPw7jmrSDqRun9gW5KBR+DjvWD+5TVr8A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.3.10/sweetalert2.min.js" integrity="sha512-LwESE8nE3vcnoUWmYo6skVQ+BRT5UhqnPweGro7e22RSDLVwftCfFIPt+Ha2tm1Gg7RXvYp/jPyih3DUB06PwA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body class="rtl" style="overflow: visible;font-family: IRANSans !important;">

{{range $fm := .flashes}}
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            {{if eq .Class "error"}}
            Swal.fire(
                'Oops',
                '{{.Message}}',
                'question'
            );
            {{end}}
            {{if eq .Class "success"}}
            Swal.fire(
                'Well Done!',
                '{{.Message}}',
                'success'
            );
            {{end}}

            {{if eq .Class "warning"}}
            Swal.fire(
                'warning!',
                '{{.Message}}',
                'warning'
            );
            {{end}}

            {{if eq .Class "info"}}
            Swal.fire(
                'info!',
                '{{.Message}}',
                'info'
            );
            {{end}}
        });
    </script>
{{end}}

{{template "head" .}}
{{template "sidemenu" .}}
{{template "content" .}}

{{template "footer" .}}

{{JS "assets/plugins/sweet-alert2/sweetalert2.min.js"}}
{{JS "assets/pages/jquery.sweet-alert.init.js"}}

{{JS "assets/front/jquery-3.5.1.min.js"}}
{{JS "assets/front/common_scripts_rtl.min.js"}}
{{JS "assets/front/velocity.min.js"}}
{{JS "assets/front/functions_rtl.js"}}
{{JS "assets/front/survey_func.js"}}


</body>
</html>