{{define "title"}}Go Web App{{end}}
{{define "cssextra"}}
    {{CSS "assets/plugins/jquery-steps/jquery.steps.css"}}



{{end}}
{{define "extrajs"}}

    <!--Plugins-->
    {{JS "assets/plugins/moment/moment.js"}}
    {{JS "assets/plugins/jquery-steps/jquery.steps.min.js"}}
    {{JS "assets//pages/jquery.form-wizard.init.js"}}



{{end}}
{{define "content"}}


    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Others</a></li>
                            <li class="breadcrumb-item active">Wizard</li>
                        </ol>
                    </div>
                    <h4 class="page-title">{{gettext "Website Configuration"}}</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div>
        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#home" role="tab"
                                   aria-selected="true">{{gettext "Configureion"}}</a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane p-3 active" id="home" role="tabpanel">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="card">
                                            <div class="card-body">
                                                <h4 class="mt-0 header-title">{{gettext "Configureion"}}</h4>
                                                <p class="text-muted mb-3">{{gettext "All configureion for website are here!"}}
                                                </p>
                                                <form method="post">
                                                    <div class="row">

                                                        <div class="col-lg-6">


                                                            <div class="form-group row">
                                                                <label for="website-text-input"
                                                                       class="col-sm-2 col-form-label text-right">{{gettext "Website Name"}}</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control" type="text"
                                                                           name="website"
                                                                           value="{{.setting.SiteName}}"
                                                                           id="website-text-input">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="email-email-input"
                                                                       class="col-sm-2 col-form-label text-right">{{gettext "Email"}}</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control" type="email"
                                                                           name="email"
                                                                           value="{{.setting.Email}}"
                                                                           id="email-email-input">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="tel-input"
                                                                       class="col-sm-2 col-form-label text-right">{{gettext "Telephone"}}</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control" type="tel" name="tel"
                                                                           value="{{.setting.Tel}}"
                                                                           id="tel-input">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="phone-tel-input"
                                                                       class="col-sm-2 col-form-label text-right">{{gettext "Phone"}}</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control" type="tel" name="phone"
                                                                           value="{{.setting.Phone}}"
                                                                           id="phone-tel-input">
                                                                </div>
                                                            </div>
                                                            <div class="form-group row">
                                                                <label for="password-input"
                                                                       class="col-sm-2 col-form-label text-right">{{gettext "Password"}}</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control" type="password"
                                                                           name="password" value="hunter2"
                                                                           id="password-input">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label class="col-sm-2 col-form-label text-right">{{gettext "Default Language"}}</label>
                                                                <div class="col-sm-10">
                                                                    <select name="language_id" class="form-control">
                                                                        {{$lang :=.setting.LanguageId}}
                                                                        {{range $n := .languageList}}

                                                                            <option {{if eq $n.Id $lang}} selected {{end}}
                                                                                    value="{{$n.Id}}">{{$n.Language}}</option>
                                                                        {{end}}
                                                                    </select>
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">

                                                                <label for="example-text-input-sm"
                                                                       class="col-sm-2 col-form-label text-right">{{gettext "Webiste Status"}}</label>
                                                                <div class="col-sm-10">
                                                                    <div class="form-check-inline my-1">
                                                                        <div class="custom-control custom-radio">
                                                                            <input type="radio" id="customRadio7"
                                                                                   name="customRadio"
                                                                                   value="1"
                                                                                   {{if eq .setting.Status 1}}checked{{end}}
                                                                                   class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                   for="customRadio7">{{gettext "Enabled"}}</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-check-inline my-1">
                                                                        <div class="custom-control custom-radio">
                                                                            <input type="radio" id="customRadio8"
                                                                                   name="customRadio"
                                                                                   value="0"
                                                                                   {{if eq .setting.Status 0}}checked{{end}}
                                                                                   class="custom-control-input">
                                                                            <label class="custom-control-label"
                                                                                   for="customRadio8">{{gettext "Disabled"}}</label>
                                                                        </div>
                                                                    </div>

                                                                </div>

                                                            </div>
                                                            <input type="hidden" name="csrf" value="{{.csrf_token}}">

                                                            <button type="submit"
                                                                    class="btn btn-primary">{{gettext "Save"}}</button>

                                                        </div>


                                                        <div class="col-lg-6">
                                                            <div class="form-group row">
                                                                <label for="keyword-text-input"
                                                                       class="col-sm-2 col-form-label text-right">{{gettext "Keyword"}}</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control" type="text"
                                                                           name="keyword"
                                                                           id="keyword-text-input"
                                                                           value="{{.setting.Keyword}}">
                                                                </div>
                                                            </div>

                                                            <div class="form-group row">
                                                                <label for="meta-text-input"
                                                                       class="col-sm-2 col-form-label text-right">{{gettext "Meta Description"}}</label>
                                                                <div class="col-sm-10">
                                                                    <input class="form-control" type="text"
                                                                           name="meta"
                                                                           value="{{.setting.Meta}}"
                                                                           id="meta-text-input">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </form>
                                            </div><!--end card-body-->
                                        </div><!--end card-->
                                    </div><!--end col-->
                                </div>
                            </div>

                        </div>
                    </div><!--end card-body-->
                </div>

            </div><!--end col-->
        </div><!--end row-->


    </div><!-- container -->


{{end}}