{{define "title"}}Go Web App{{end}}
{{define "cssextra"}}
    {{CSS "assets/plugins/jquery-steps/jquery.steps.css"}}



{{end}}
{{define "extrajs"}}

    <!--Plugins-->
    {{JS "assets/plugins/moment/moment.js"}}
    {{JS "assets/plugins/jquery-steps/jquery.steps.min.js"}}
    {{JS "assets//pages/jquery.form-wizard.init.js"}}



{{end}}
{{define "content"}}


<div class="container-fluid" dir="ltr">
    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="float-right">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol><!--end breadcrumb-->
                </div><!--end /div-->
                <h4 class="page-title">Profile</h4>
            </div><!--end page-title-box-->
        </div><!--end col-->
    </div><!--end row-->
    <!-- end page title end breadcrumb -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body  met-pro-bg">
                    <div class="met-profile">
                        <div class="row">
                            <div class="col-lg-4 align-self-center mb-3 mb-lg-0">
                                <div class="met-profile-main">
                                    <div class="met-profile-main-pic">
                                        <img src="../assets/images/users/user-4.jpg" alt="" class="rounded-circle">
                                        <span class="fro-profile_main-pic-change">
                                                            <i class="fas fa-camera"></i>
                                                        </span>
                                    </div>
                                    <div class="met-profile_user-detail">
                                        <h5 class="met-user-name">Rosa Dodson</h5>
                                        <p class="mb-0 met-user-name-post">UI/UX Designer</p>
                                    </div>
                                </div>
                            </div><!--end col-->
                            <div class="col-lg-4 ml-auto">
                                <ul class="list-unstyled personal-detail">
                                    <li class=""><i class="dripicons-phone mr-2 text-info font-18"></i> <b> phone </b> : +91 23456 78910</li>
                                    <li class="mt-2"><i class="dripicons-mail text-info font-18 mt-2 mr-2"></i> <b> Email </b> : mannat.theme@gmail.com</li>
                                    <li class="mt-2"><i class="dripicons-location text-info font-18 mt-2 mr-2"></i> <b>Location</b> : USA</li>
                                </ul>
                                <div class="button-list btn-social-icon">
                                    <button type="button" class="btn btn-blue btn-round">
                                        <i class="fab fa-facebook-f"></i>
                                    </button>

                                    <button type="button" class="btn btn-secondary btn-round ml-2">
                                        <i class="fab fa-twitter"></i>
                                    </button>

                                    <button type="button" class="btn btn-pink btn-round  ml-2">
                                        <i class="fab fa-dribbble"></i>
                                    </button>
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end f_profile-->
                </div><!--end card-body-->
                <div class="card-body">
                    <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link active" id="settings_detail_tab" data-toggle="pill" href="#settings_detail">Settings</a>
                        </li>
                    </ul>
                </div><!--end card-body-->
            </div><!--end card-->
        </div><!--end col-->
    </div><!--end row-->
    <div class="row">
        <div class="col-12">
            <div class="tab-content detail-list" id="pills-tabContent">

                <div class="tab-pane fade show active" id="settings_detail">
                    <div class="row">
                        <div class="col-lg-12 col-xl-10 mx-auto">
                            <div class="card">
                                <div class="card-body">
                                    <div class="">
                                        <form class="form-horizontal form-material mb-0" method="post">
                                            <input type="hidden" value="{{.settingid}}" name="id">
                                            <input type="hidden" name="csrf" value="{{.csrf_token}}">
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <input type="email" placeholder="Email" class="form-control text-primary" value="{{.setting.Email}}" name="email" id="example-email">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="password" placeholder="password" name="password" class="form-control text-primary">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="password" placeholder="Re-password" name="password-re" class="form-control  text-primary">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Meta" class="form-control text-primary" value="{{.setting.Meta}}" name="meta" >
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="language name" name="language_name" value="{{.setting.LanguageName}}" class="form-control text-primary">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Site Name" value="{{.setting.SiteName}}" name="website" class="form-control text-primary">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-md-4">
                                                    <input type="text" placeholder="Phone No" value="{{.setting.Phone}}" name="phone" class="form-control text-primary">
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text" name="filter" placeholder="Phone No" value="{{.setting.Filter}}" class="form-control text-primary">
                                                </div>
                                                <div class="col-md-4">
                                                    <select class="form-control text-primary" name="interface" value="{{.setting.Interface}}">
                                                        {{ range $key, $e := .interfaces}}
                                                          <option value="{{$e.Index}}">{{$e.Name}}</option>
                                                        {{end}}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <textarea rows="5" placeholder="Message" name="message" class="form-control">{{.setting.Message}}</textarea>
                                                <button class="btn btn-gradient-primary btn-sm text-light px-4 mt-3 float-right mb-0">Update Profile</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div> <!--end col-->
                    </div><!--end row-->
                </div><!--end settings detail-->
            </div><!--end tab-content-->

        </div><!--end col-->
    </div><!--end row-->

</div><!-- container -->
{{end}}