{{define "title"}}{{gettext "Brand"}}{{end}}
{{define "cssextra"}}
    {{CSS "assets/plugins/daterangepicker/daterangepicker.css"}}
    {{CSS "assets/plugins/select2/select2.min.css"}}
    {{CSS "assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css"}}
    {{CSS "assets/plugins/timepicker/bootstrap-material-datetimepicker.css"}}
    {{CSS "assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css"}}

{{end}}

{{define "extrajs"}}
    <!-- Plugins js -->
    {{JS "assets/plugins/moment/moment.js"}}
    {{JS "assets/plugins/daterangepicker/daterangepicker.js"}}
    {{JS "assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"}}
    {{JS "assets/plugins/timepicker/bootstrap-material-datetimepicker.js"}}

    {{JS "assets/plugins/select2/select2.min.js"}}
    {{JS "assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"}}
    {{JS "assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"}}
    {{JS "assets/pages/jquery.forms-advanced.js"}}

{{end}}
{{define "content"}}

    {{$currentPage := .paginate.CurrentPage}}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title-box">
                    <div class="float-right">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Ecommerce</a></li>
                            <li class="breadcrumb-item active">Product List</li>
                        </ol>
                    </div>
                    <h4 class="page-title">{{gettext "Languages List"}}</h4>
                </div><!--end page-title-box-->
            </div><!--end col-->
        </div>

        <!-- end page title end breadcrumb -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">


                        <div class="row">
                            <div class="col-12">
                                <table id="datatable" class="table table-striped mb-0"
                                       style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                    <thead class="thead-light">
                                    <tr class="footable-filtering">
                                        <th colspan="6">
                                            <form class="form-inline">
                                                <div class="form-group footable-filtering-search"><label
                                                            class="sr-only">{{gettext "Search:"}}</label>
                                                    <div class="input-group"><input type="text" class="form-control"
                                                                                    placeholder="Search">
                                                        <div class="input-group-append input-group-btn">
                                                            <button type="button" class="btn btn-primary"><span
                                                                        class="fa fa-search"></span></button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td>

                                            <form method="POST" class="form-horizontal well">
                                                <fieldset>
                                                    <div class="repeater-default">
                                                        <div data-repeater-list="car">
                                                            <div data-repeater-item="">
                                                                <div class="form-group row d-flex align-items-end">

                                                                    <div class="col-sm-3">
                                                                        <label class="control-label">{{gettext "Language"}}</label>
                                                                        <input type="text" name="language"
                                                                               placeholder="English"
                                                                               class="form-control">
                                                                    </div><!--end col-->
                                                                    <div class="col-sm-2">
                                                                        <label class="control-label">{{gettext "Code"}}</label>
                                                                        <input type="text" name="code"
                                                                               class="form-control" placeholder="en">
                                                                    </div><!--end col-->
                                                                    <div class="col-sm-2">
                                                                        <label class="control-label">{{gettext "Icons"}}</label>
                                                                        <select name="lang_icon"

                                                                                class="form-control">
                                                                            <option value="flag-icon-ad">flag-icon-ad
                                                                            </option>


                                                                        </select>
                                                                    </div><!--end col-->

                                                                    <div class="col-sm-2">
                                                                        <label class="control-label">{{gettext "Language Code"}}</label>
                                                                        <input type="text" name="language_code"
                                                                               class="form-control" placeholder="en_US">
                                                                    </div><!--end col-->

                                                                    <div class="col-sm-2">
                                                                        <div class="custom-control custom-checkbox custom-control-inline">
                                                                            <input type="checkbox"
                                                                                   class="custom-control-input"
                                                                                   id="customCheck1" name="isrtl"
                                                                                   value="ac">
                                                                            <label class="custom-control-label"
                                                                                   for="customCheck1">{{gettext "Is RTL Support"}}</label>
                                                                        </div>


                                                                    </div><!--end col-->

                                                                    <div class="col-sm-1">
                                                                <span>
                                                                   <input type="submit" value="Submit"
                                                                          class="btn btn-secondary">
                                                                </span>
                                                                    </div><!--end col-->
                                                                </div><!--end row-->
                                                            </div><!--end /div-->


                                                        </div><!--end repet-list-->

                                                    </div> <!--end repeter-->
                                                </fieldset><!--end fieldset-->
                                            </form>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{gettext "Languages"}}</th>
                                        <th>{{gettext "Code"}}</th>
                                        <th>{{gettext "Icon"}}</th>
                                        <th>{{gettext "Is RTL"}}</th>
                                        <th>{{gettext "Language Code"}}</th>
                                        <th>{{gettext "Action"}}</th>
                                    </tr>
                                    </thead>


                                    <tbody>
                                    {{range $item := .languageList}}
                                        <tr>

                                            <td><img src="../assets/images/users/user-3.jpg" alt=""
                                                     class="rounded-circle thumb-sm mr-1"> {{$item.Language}}
                                            </td>
                                            <td>

                                                {{$item.Code}}
                                            </td>
                                            <td>
                                                <li class="list-inline-item align-middle">

                                                    <i>
                                                        <div class="flag  {{$item.IconName}}" title="{{$item.Code}}"
                                                             id="{{$item.Code}}"
                                                             style="width: 32px;height: 20px;"></div>
                                                    </i>

                                                </li>
                                            </td>
                                            <td>{{$item.IsRtl}}</td>
                                            <td>
                                                {{$item.LanguageCode}}
                                            </td>
                                            <td>
                                                <a href="#" class="mr-2"><i
                                                            class="fas fa-edit text-info font-16"></i></a>
                                                <a onclick="removeLanguage({{$item.Id}}" href="#"><i
                                                            class="fas fa-trash-alt text-danger font-16"></i>


                                                </a>
                                            </td>
                                        </tr>
                                    {{end}}

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->


    </div><!-- container -->


    <script>

        function removeLanguage(i, p) {

            if (confirm({{gettext "Are you sure you want to remove this item?"}})) {
                // window.open('/admin/order/delete/' + i + '/' + p,"_self");
            }
        }


    </script>


{{end}}