{{define "title"}}Home{{end}}
{{define "bodyclass"}}cms-index-index cms-home-page{{end}}
{{define "cssextra"}}{{end}}
{{define "extrajs"}}

    <!--cloud-zoom js -->

{{end}}
{{define "content"}}

    <div class="container-fluid full-height">
        <div class="row row-height">
            <div class="col-lg-6 content-left">
                <div class="content-left-wrapper">


                    <!-- /social -->
                    <div>
                        <figure><img src="./assets/front/info_graphic_1.svg" alt="" class="img-fluid"></figure>
                        <h2>فرم نظر سنجی</h2>
                        <p>ما با چند سوال کوتاه می‌خواهیم اطمینان پیدا کنیم که محصول و خدمات ... منطبق بر انتظارات شما
                            است. تکمیل این پرسشنامه ۵ دقیقه زمان می‌برد.</p>
                        {{/*                        <a href="https://1.envato.market/JAL9r" class="btn_1 rounded" target="_parent">Purchase this template</a>*/}}
                        {{/*                        <a href="#start" class="btn_1 rounded mobile_btn">Start Now!</a>*/}}
                    </div>
                    <div class="copy">© 2020 ALphaa</div>
                </div>
                <!-- /content-left-wrapper -->
            </div>
            <!-- /content-left -->

            <div class="col-lg-6 content-right" id="start">
                <div id="wizard_container" class="wizard" novalidate="novalidate">
                    <div id="top-wizard">
                        <div id="progressbar" class="ui-progressbar ui-widget ui-widget-content ui-corner-all"
                             role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                            <div class="ui-progressbar-value ui-widget-header ui-corner-left"
                                 style="display: none; width: 0%;"></div>
                        </div>
                    </div>
                    <!-- /top-wizard -->
                    <form id="wrapped" method="POST" action="" class="wizard-form" novalidate="novalidate">
                        <input id="website" name="website" type="text" value="">
                        <!-- Leave for security protection, read docs for details -->
                        <div id="middle-wizard" class="wizard-branch wizard-wrapper">

                            <p></p>
                            {{$step :=.formStep}}

                            {{$ii := 1}}

                            <div class="step wizard-step current" style="">
                                <h3 class="main_question wizard-header"><strong>1/ {{add $step}}</strong>برای شروع نظر
                                    سنجی مشخصات خود را وراد کنید</h3>
                                <div class="form-group">
                                    <input type="text" name="firstname" class="form-control required"
                                           placeholder="نام">

                                    <input type="hidden" name="survey_id" class="form-control required"
                                          value="{{.surveyId}}">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="lastname" class="form-control required"
                                           placeholder="نام خانوادگی">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control"
                                           placeholder="ایمیل">
                                </div>

                                <div class="row">
                                    <div class="col-3">
                                        <div class="form-group">
                                            <input type="text" name="age" class="form-control" placeholder="سن">
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group radio_input">
                                            <label class="container_radio">آقا
                                                <input type="radio" name="gender" value="Male" class="required">
                                                <span class="checkmark"></span>
                                            </label>
                                            <label class="container_radio">خانم
                                                <input type="radio" name="gender" value="Female" class="required">
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!-- /row -->
                                <div class="form-group terms">
                                    <label class="container_check"> <a href="#" data-toggle="modal"
                                                                       data-target="#terms-txt">قوانین و مقررات</a> قبول
                                        دارم
                                        <input type="checkbox" name="terms" value="Yes" class="required">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>


                            {{range $i,$f := .forms}}



                                <div class="step wizard-step " style="">


                                    <h3 class="main_question"><strong>{{add $i}}/{{$step}}</strong>{{$f.Title}}</h3>

                                    {{$sizeOfC := (len $f.TextInputs)}}
                                    {{if gt $sizeOfC 0}}
                                        {{range $textInput := $f.TextInputs}}
                                            {{element $textInput}}
                                        {{end}}
                                    {{end}}
                                    {{radio $f.RadioButtons}}

                                    {{/*                                    {{select $f.SelectInputs}}*/}}

                                    {{/*                                    {{checkbox  $f.CheckBoxs}}*/}}
                                </div>
                            {{end}}
                            <div class="submit step wizard-step" disabled="disabled" style="display: none;">

                                <p>
                                    برای ثبت فرم نظر سنجی رو دکمه ارسال کلیک کنید
                                </p>
                            </div>


                        </div>
                        <!-- /middle-wizard -->
                        <div id="bottom-wizard">
                            <button type="button" name="backward" class="backward" disabled="disabled">قبلی</button>
                            <button type="button" name="forward" class="forward">بعدی</button>
                            <button type="submit" name="process" class="submit btn btn-success" disabled="disabled">ارسال</button>
                        </div>
                        <!-- /bottom-wizard -->
                    </form>
                </div>
                <!-- /Wizard container -->
            </div>
            <!-- /content-right-->
        </div>
        <!-- /row-->
    </div>
    <!-- /container-fluid -->
{{end}}