{{define "title"}}Category{{end}}
{{define "cssextra"}}
    {{CSS "assets/plugins/daterangepicker/daterangepicker.css"}}
    {{CSS "assets/plugins/select2/select2.min.css"}}
    {{CSS "assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css"}}
    {{CSS "assets/plugins/timepicker/bootstrap-material-datetimepicker.css"}}
    {{CSS "assets/plugins/bootstrap-touchspin/css/jquery.bootstrap-touchspin.min.css"}}

{{end}}

{{define "extrajs"}}
    <!-- Plugins js -->
    {{JS "assets/plugins/moment/moment.js"}}
    {{JS "assets/plugins/daterangepicker/daterangepicker.js"}}
    {{JS "assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"}}
    {{JS "assets/plugins/timepicker/bootstrap-material-datetimepicker.js"}}

    {{JS "assets/plugins/select2/select2.min.js"}}
    {{JS "assets/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"}}
    {{JS "assets/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"}}
    {{JS "assets/pages/jquery.forms-advanced.js"}}

{{end}}
{{define "content"}}

    <div class="container-fluid">
        <!-- Page-Title -->

    </div><!-- container -->



{{end}}