{{define "title"}}Go Web App{{end}}
{{define "cssextra"}}{{end}}
{{define "extrajs"}}

<!--Plugins-->
{{JS "assets/plugins/moment/moment.js"}}
{{JS "assets/plugins/apexcharts/apexcharts.min.js"}}
{{JS "assets/pages/jquery.analytics_dashboard.init.js"}}
{{JS "assets/plugins/jvectormap/jquery-jvectormap-2.0.2.min.js"}}
{{JS "assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"}}
{{JS "assets/pages/jquery.eco_dashboard.init.js"}}

{{end}}
{{define "content"}}

<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <div class="button-items">
          <a type="button" onclick="window.location = 'requests?key=FTP'" class="btn btn-gradient-primary waves-effect waves-light">FTP</a>

          <a type="button" onclick="window.location = 'requests?key=POST'" class="btn btn-gradient-secondary waves-effect">POST</a>

          <a type="button" onclick="window.location = 'requests?key=GET'" class="btn btn-gradient-success waves-effect waves-light">GET</a>

          <a type="button" onclick="window.location = 'requests?key=PUT'" class="btn btn-gradient-info waves-effect waves-light">PUT</a>

          <a type="button" onclick="window.location = 'requests?key=HTTPS'" class="btn btn-gradient-warning waves-effect waves-light">HTTPS</a>

          <a type="button" onclick="window.location = 'requests?key=UPDATE'" class="btn btn-gradient-danger waves-effect waves-light">UPDATE</a>



        </div>
      </div>
      <div class="card-body">
        <h4 class="header-title mt-0 mb-3">Traffic Sources</h4>
        <div class="table-responsive browser_users" table-responsive>
          <table class="table mb-0" style="direction: ltr !important;">
            <thead class="thead-light">
            <tr>
              <th class="border-top-0">Url</th>
              <th class="border-top-0">SrcAddr</th>
              <th class="border-top-0">SrcPort</th>
              <th class="border-top-0">DstAddr</th>
              <th class="border-top-0">DstPort</th>
              <th class="border-top-0">Ts</th>
              <th class="border-top-0">Method</th>
              <th class="border-top-0">StatusCode</th>
              <th class="border-top-0">ContentLength</th>
              <th class="border-top-0">Action</th>
            </tr><!--end tr-->
            </thead>
            <tbody>
            {{range $idx, $e := .requests}}
            <tr>
              <td><a href="" class="text-primary">{{$e.Url}}</a></td>
              <td>{{$e.SrcAddr}}</td>
              <td>{{$e.SrcPort}}</td>
              <td>{{$e.DstAddr}}</td>
              <td>{{$e.DstPort}}</td>
              <td>{{$e.Ts}}</td>
              <td>{{$e.Method}}</td>
              <td>{{$e.StatusCode}}</td>
              <td>{{$e.ContentLength}}</td>
              <td><a class="btn btn-danger" href="admin/block?ip={{$e.SrcAddr}}">Block</a></td>

            </tr><!--end tr-->
            {{end}}
            </tbody>
          </table> <!--end table-->
        </div><!--end /div-->
      </div><!--end card-body-->
    </div><!--end card-->

  </div><!--end col-->

</div><!--end row-->

{{end}}