{{define "title"}}Login{{end}}
{{define "cssextra"}}{{end}}
{{define "extrajs"}}{{end}}
{{define "content"}}
    <div  class="account-body accountbg">
        <!-- Log In page -->
        <div class="row vh-100 ">
            <div class="col-12 align-self-center">
                <div class="auth-page">
                    <div class="card auth-card shadow-lg">
                        <div class="card-body">
                            <div class="px-3">
                                <div class="auth-logo-box">
                                    <a href="../analytics/analytics-index.html" class="logo logo-admin"><img src="../assets/images/logo-sm.png" height="55" alt="logo" class="auth-logo"></a>
                                </div><!--end auth-logo-box-->

                                <div class="text-center auth-logo-text">
                                    <h4 class="mt-0 mb-3 mt-5">صفحه ورود به پنل</h4>
                                    <p class="text-muted mb-0">باری وارد شدن به پنل لطفا ایمل و رمز عبور خود را وارد کنید</p>
                                </div> <!--end auth-logo-text-->


                                <form method="post" class="form-horizontal auth-form my-4" >

                                    <div class="form-group">
                                        <label for="email">{{gettext "Email"}}</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-user"></i>
                                            </span>
                                            <input type="email" class="form-control" name="email" id="email" placeholder="e.g. test" >
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group">
                                        <label for="userpassword">{{gettext "Password"}}</label>
                                        <div class="input-group mb-3">
                                            <span class="auth-form-icon">
                                                <i class="dripicons-lock"></i>
                                            </span>
                                            <input type="password" class="form-control" name="password" id="userpassword" placeholder="*********">
                                        </div>
                                    </div><!--end form-group-->

                                    <div class="form-group row mt-4">
{{/*                                        <div class="col-sm-6">*/}}
{{/*                                            <div class="custom-control custom-switch switch-success">*/}}
{{/*                                                <input type="checkbox" class="custom-control-input" id="customSwitchSuccess">*/}}
{{/*                                                <label class="custom-control-label text-muted" for="customSwitchSuccess">Remember me</label>*/}}
{{/*                                            </div>*/}}
{{/*                                        </div><!--end col-->*/}}
{{/*                                        <div class="col-sm-6 text-right">*/}}
{{/*                                            <a href="auth-recover-pw.html" class="text-muted font-13"><i class="dripicons-lock"></i> Forgot password?</a>*/}}
{{/*                                        </div><!--end col-->*/}}
                                    </div><!--end form-group-->

                                    <div class="form-group mb-0 row">
                                        <div class="col-12 mt-2">
                                            <button class="btn btn-primary btn-round btn-block waves-effect waves-light" type="submit">{{gettext "Log In "}}<i class="fas fa-sign-in-alt ml-1"></i></button>
                                        </div><!--end col-->
                                    </div> <!--end form-group-->
                                    <input type="hidden" name="token" value="{{.token}}">
                                </form><!--end form-->
                            </div><!--end /div-->

{{/*                            <div class="m-3 text-center text-muted">*/}}
{{/*                                <p class="">Don't have an account ?  <a href="../authentication/auth-register.html" class="text-primary ml-2">Free Resister</a></p>*/}}
{{/*                            </div>*/}}
                        </div><!--end card-body-->
                    </div><!--end card-->
                    <div class="account-social text-center mt-4">
                        <h6 class="my-4">Or Login With</h6>
                        <ul class="list-inline mb-4">
                            <li class="list-inline-item">
                                <a href="" onclick="onFaceBookLigon()" class="">
                                    <i class="fab fa-facebook-f facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" class="">
                                    <i class="fab fa-twitter twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="" onclick="onGmailClick(this)" class="">
                                    <i class="fab fa-google google"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!--end account-social-->
                </div><!--end auth-page-->
            </div><!--end col-->
        </div><!--end row-->
        <!-- End Log In page -->

    </div>

<script>

    function onFaceBookLigon() {
        var provider = new firebase.auth.FacebookAuthProvider();


        firebase.auth().signInWithPopup(provider).then(function(result) {
            // This gives you a Facebook Access Token. You can use it to access the Facebook API.
            var token = result.credential.accessToken;
            // The signed-in user info.
            var user = result.user;
            console.log(user)
            // ...
        }).catch(function(error) {
            console.log(error)
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // The email of the user's account used.
            var email = error.email;
            // The firebase.auth.AuthCredential type that was used.
            var credential = error.credential;
            // ...
        });
    }
    function onGmailClick() {
        console.log("clickeds")

        var provider = new firebase.auth.GoogleAuthProvider();
        firebase.auth().languageCode = 'en';
        provider.addScope('https://www.googleapis.com/auth/contacts.readonly');
        firebase.auth().signInWithPopup(provider).then(function(result) {
            // This gives you a Google Access Token. You can use it to access the Google API.
            var token = result.credential.accessToken;
            // The signed-in user info.
            var user = result.user;
            console.log(user)
            // ...
            Swal.fire(
                'success',
                'success',
                'question'
            );
        }).catch(function(error) {
            // Handle Errors here.
            var errorCode = error.code;
            var errorMessage = error.message;
            // The email of the user's account used.
            var email = error.email;
            // The firebase.auth.AuthCredential type that was used.
            var credential = error.credential;
            console.log(error)
            // ...
            Swal.fire(
                'errr',
                'err',
                'question'
            );
        });
    }

</script>

{{end}}